<div class="flex py-16 justify-center">
    <div class="px-120">
        <h1 class="text-blog-title">Test Title</h1>
        <p class="text-blog-desc">Test description</p>
        <div class="text-blog-tags flex">
            <p class="px-4">tag1</p>
            <p class="px-4">tag2</p>
            <p class="px-4">tag3</p>
        </div>
    </div>
    <div class="px-120">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-52qQ_A4lX8zEN1qOjaRZNi-7tTh7IMXeXg&s">
    </div>
</div>