<div class="grid py-16 grid-cols-2 justify-items-center">
    <div class="w-96">
        <h1 class="text-blog-title break-words">This is a very long title to test whether the title wraps around </h1>
        <p class="text-blog-desc break-words">Test description</p>
        <div class="text-blog-tags flex">
            <p class="px-2">tag1</p>
            <p class="px-2">tag2</p>
            <p class="px-2">tag3</p>
        </div>
    </div>
    <div class="w-96 flex justify-center">
        <img class="w-full" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-52qQ_A4lX8zEN1qOjaRZNi-7tTh7IMXeXg&s">
    </div>
</div>